[Desktop Entry]
Version=1.0
Type=Application
Exec=exo-open --launch FileManager %u
Icon=/home/addy/.icons/Delta/folder_favorites.png
StartupNotify=true
Terminal=false
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
X-XFCE-MimeType=inode/directory;x-scheme-handler/trash;
Name=File Manager
Name[am]=የ ፋይል አስተዳዳሪ
Name[ar]=مدير الملفات
Name[ast]=Xestor de Ficheros
Name[bg]=Файлов мениджър
Name[bn]=ফাইল ম্যানেজার
Name[ca]=Gestor de fitxers
Name[cs]=Správce souborů
Name[da]=Filhåndtering
Name[de]=Dateiverwaltung
Name[el]=Διαχειριστής αρχείων
Name[en_AU]=File Manager
Name[en_GB]=File Manager
Name[es]=Administrador de archivos
Name[et]=Failihaldur
Name[eu]=Fitxategi kudeatzailea
Name[fi]=Tiedostonhallinta
Name[fr]=Gestionnaire de fichiers
Name[gl]=Xestor de ficheiros
Name[he]=מנהל קבצים
Name[hr]=Upravitelj datoteka
Name[hu]=Fájlkezelő
Name[id]=Manajer Berkas
Name[is]=Skráastjóri
Name[it]=Gestore dei file
Name[ja]=ファイルマネージャー
Name[kk]=Файлдар басқарушысы
Name[ko]=파일 관리자
Name[lt]=Failų tvarkytuvė
Name[lv]=Faila pārvaldnieks
Name[ms]=Pengurus Fail
Name[nb]=Filbehandler
Name[nl]=Bestandbeheerder
Name[nn]=Filhandsamar
Name[oc]=Gestionari de fichièrs
Name[pa]=ਫਾਇਲ ਮੈਨੇਜਰ
Name[pl]=Menedżer plików
Name[pt]=Gestor de ficheiros
Name[pt_BR]=Gerenciador de arquivos
Name[ro]=Manager de fișiere
Name[ru]=Файловый менеджер
Name[sk]=Správca súborov
Name[sl]=Upravljalnik datotek
Name[sr]=Управник датотека
Name[sv]=Filhanterare
Name[te]=దస్త్ర నిర్వాహకం
Name[th]=โปรแกรมจัดการแฟ้ม
Name[tr]=Dosya Yöneticisi
Name[ug]=ھۆججەت باشقۇرغۇ
Name[uk]=Файловий менеджер
Name[vi]=Trình quản lý tệp tin
Name[zh_CN]=文件管理器
Name[zh_HK]=檔案管理員
Name[zh_TW]=檔案管理員
Comment=Browse the file system
Comment[am]=በ ፋይል ስርአት ውስጥ መቃኛ
Comment[ar]=تصفح ملف النظام
Comment[ast]=Restola pel sistema de ficheros
Comment[bg]=Преглед на файловата система
Comment[bn]=ফাইল সিস্টেম ব্রাউজ করুন
Comment[ca]=Navegueu pel sistema de fitxers
Comment[cs]=Procházet systém souborů
Comment[da]=Gennemse filsystemet
Comment[de]=Das Dateisystem durchsuchen, um einen eigenen Befehl zu wählen
Comment[el]=Περιηγηθείτε στο αρχείο συστήματος
Comment[en_AU]=Browse the file system
Comment[en_GB]=Browse the file system
Comment[es]=Navegar por el sistema de archivos
Comment[et]=Sirvi failisüsteemi
Comment[eu]=Arakatu fitxategi sistema
Comment[fi]=Selaa tiedostojärjestelmää
Comment[fr]=Parcourir le système de fichiers
Comment[gl]=Examinar o sistema de ficheiros
Comment[he]=סייר במערכת הקבצים
Comment[hr]=Pregledaj datotečni sustav
Comment[hu]=Fájlrendszer tallózása
Comment[id]=Ramban sistem berkas
Comment[is]=Flakka í skráakerfinu
Comment[it]=Sfoglia il file system
Comment[ja]=ファイルシステムを参照します
Comment[kk]=Файлдық жүйені шолу
Comment[ko]=파일 시스템 탐색
Comment[lt]=Naršyti failų sistemą
Comment[ms]=Layar sistem fail
Comment[nb]=Bla gjennom filsystemet
Comment[nl]=Blader door het bestandssysteem
Comment[nn]=Bla gjennom filsystemet
Comment[oc]=Percórrer lo sistèma de fichièrs
Comment[pa]=ਫਾਇਲ ਸਿਸਟਮ ਬਰਾਊਜ਼ਰ ਕਰੋ
Comment[pl]=Przegląda system plików i zarządza jego zawartością
Comment[pt]=Explorar sistema de ficheiros
Comment[pt_BR]=Navegar pelo sistema de arquivos
Comment[ro]=Gestionați fișierele din sistem
Comment[ru]=Просмотреть файловую систему
Comment[sk]=Prehliadať systém súborov
Comment[sl]=Brskajte po datotečnem sistemu
Comment[sr]=Разгледајте систем датотека
Comment[sv]=Bläddra i filsystemet
Comment[te]=దస్త్ర వ్యవస్థను విహరించు
Comment[th]=ท่องดูระบบแฟ้ม
Comment[tr]=Dosya sistemini tara.
Comment[ug]=ھۆججەت سىستېمىسىنى كۆرىدۇ
Comment[uk]=Оглянути файлову систему
Comment[vi]=Duyệt hệ thống tệp tin
Comment[zh_CN]=浏览文件系统
Comment[zh_HK]=瀏覽檔案系統
Comment[zh_TW]=瀏覽檔案系統
