[Desktop Entry]
Type=Application
Version=1.0
Name=Geany
Name[ar]=Geany
Name[ast]=Geany
Name[be]=Geany
Name[bg]=Geany
Name[ca]=Geany
Name[cs]=Geany
Name[de]=Geany
Name[el]=Geany
Name[en_GB]=Geany
Name[es]=Geany
Name[et]=Geany
Name[eu]=Geany
Name[fa]=Geany
Name[fi]=Geany
Name[fr]=Geany
Name[gl]=Geany
Name[he]=Geany
Name[hi]=जीनि
Name[hu]=Geany
Name[id]=Geany
Name[it]=Geany
Name[ja]=Geany
Name[kk]=Geany
Name[ko]=지니
Name[lb]=Geany
Name[lt]=Geany
Name[mn]=Жиени
Name[nl]=Geany
Name[nn]=Geany
Name[pl]=Geany
Name[pt]=Geany
Name[pt_BR]=Geany
Name[ro]=Geany
Name[ru]=Geany
Name[sk]=Geany
Name[sl]=Geany
Name[sr]=Geany
Name[sv]=Geany
Name[tr]=Geany
Name[uk]=Geany
Name[vi]=Geany
Name[zh_CN]=Geany
Name[zh_TW]=Geany
GenericName=Integrated Development Environment
GenericName[ar]=بيئة التطوير المتكاملة
GenericName[ast]=Entornu Integráu de Desarrollu
GenericName[be]=Інтэграванае асяроддзе распрацоўкі
GenericName[bg]=Вградена среда за разработка
GenericName[ca]=Entorn integrat de desenvolupament
GenericName[cs]=Integrované vývojové prostředí
GenericName[de]=Integrierte Entwicklungsumgebung
GenericName[el]=Ενιαίο Περιβάλλον Ανάπτυξης
GenericName[en_GB]=Integrated Development Environment
GenericName[es]=Entorno de desarrollo integrado
GenericName[et]=Integreeritud arenduskeskkond
GenericName[eu]=Garapen ingurune integratua
GenericName[fa]=محیط توسعه ی نرم افزار
GenericName[fi]=Integroitu ohjelmointiympäristö
GenericName[fr]=Environnement de Développement Intégré
GenericName[gl]=Contorno integrado de desenvolvemento
GenericName[he]=סביבת פיתוח משולבת
GenericName[hi]=एकीकृत विकास वातावरण
GenericName[hu]=Integrált Fejlesztői Felület
GenericName[id]=Integrated Development Environment
GenericName[it]=Ambiente di sviluppo integrato
GenericName[ja]=統合開発環境
GenericName[kk]=Интеграцияланған өндіру ортасы
GenericName[ko]=통합 개발 환경
GenericName[lb]=Integréiert Entwécklungsumgebung
GenericName[lt]=Integruota kūrimo aplinka
GenericName[nl]=Geïntegreerde Ontwikkelomgeving
GenericName[nn]=Integrert utviklingsmiljø
GenericName[pl]=Zintegrowane środowisko programistyczne
GenericName[pt]=Ambiente integrado de desenvolvimento
GenericName[pt_BR]=Ambiente de Desenvolvimento Integrado
GenericName[ro]=Mediu de dezvoltare
GenericName[ru]=Интегрированная среда разработки
GenericName[sk]=Integrované vývojové prostredie
GenericName[sl]=Vdelano razvojno okolje
GenericName[sr]=Интегрисано развојно окружење
GenericName[sv]=Integrerad utvecklingsmiljö
GenericName[tr]=Tümleşik Geliştirme Ortamı
GenericName[uk]=Об'єднане середовище розробки
GenericName[vi]=Môi trường Phát triển Hợp nhất
GenericName[zh_CN]=集成开发环境
GenericName[zh_TW]=整合開發環境
Comment=A fast and lightweight IDE using GTK+
Comment[ar]=بيئة تطوير خفيفة وسريع تستخدم مكتبات GTK+
Comment[ast]=Un IDE rápidu y llixeru basáu en GTK+
Comment[be]=Хуткае і легкаважнае асяроддзе распрацоўкі, выкарыстоўваючае GTK+
Comment[ca]=Un IDE ràpid i lleuger fet amb GTK+
Comment[cs]=Rychlé a lehké IDE pro GTK+
Comment[de]=Eine kleine und schnelle Entwicklungsumgebung für GTK+
Comment[el]=Γρήγορο και ελαφρύ GTK+ IDE
Comment[en_GB]=A fast and lightweight IDE using GTK+
Comment[es]=Un IDE rápido y ligero para GTK+
Comment[et]=Kiire ja väike IDE GTK+ põhjal
Comment[eu]=GTK+ erabiltzen duen IDE azkar eta arina
Comment[fa]=A fast and lightweight IDE using GTK+
Comment[fi]=Nopea ja kevyt GTK+-pohjainen ohjelmointiympäristö
Comment[fr]=Un EDI rapide et léger utilisant GTK+
Comment[gl]=Un IDE rápido e lixeiro empregando GTK+
Comment[he]=סביבת פיתוח משולבת קטנה וקלת משקל העושה שימוש ב־GTK+
Comment[hi]=एक तेज और हलका GTK+ का उपयोग कर आईडीई
Comment[hu]=Gyors és pehelykönnyű IDE GTK+ alapokon
Comment[id]=Sebuah IDE yang cepat dan ringan menggunakan GTK+
Comment[it]=Un IDE veloce e leggero che usa GTK+
Comment[ja]=GTK+ を用いた高速で軽量な IDE
Comment[kk]=GTK+ негізіндегі жылдам әрі жеңіл өндіру ортасы
Comment[ko]=빠르고 가벼운 GTK+ 기반의 통합개발환경
Comment[lb]=En klenge an schnelle IDE fir GTK+
Comment[lt]=Greita ir supaprastinta kūrimo aplinka naudojanti GTK+
Comment[nl]=Een snelle en lichtgewicht IDE, gebaseerd op GTK+
Comment[nn]=Eit raskt og lett IDE som nyttar GTK+
Comment[pl]=Szybkie i lekkie środowisko programistyczne oparte na GTK+
Comment[pt]=Um IDE rápido e leve, usando GTK+
Comment[pt_BR]=Uma IDE rápido e leve usando GTK+
Comment[ro]=Un IDE rapid folosind GTK+
Comment[ru]=Быстрая и легковесная среда разработки, использующая GTK+
Comment[sk]=Rýchle a nenáročné IDE pre GTK+
Comment[sl]=Hitro in lahkotno vdelano razvojno okolje z uporabo GTK+
Comment[sr]=Брзо и лагано GTK развојно окружење
Comment[sv]=Ett snabbt och lättviktigt IDE som använder GTK+
Comment[tr]=GTK+ kullanan hızlı ve hafif bir IDE
Comment[uk]=Швидке та легке графічне середовище, що використовує GTK+
Comment[vi]=Một IDE nhanh và nhẹ nhàng dùng GTK+
Comment[zh_CN]=GTK+ 编写的轻快的 IDE
Comment[zh_TW]=一個快速且輕巧的 GTK+ 整合開發環境
Exec=geany %F
Icon=/home/addy/.icons/Delta/note_everything.png
Terminal=false
Categories=GTK;Development;IDE;
MimeType=text/plain;text/x-chdr;text/x-csrc;text/x-c++hdr;text/x-c++src;text/x-java;text/x-dsrc;text/x-pascal;text/x-perl;text/x-python;application/x-php;application/x-httpd-php3;application/x-httpd-php4;application/x-httpd-php5;application/xml;text/html;text/css;text/x-sql;text/x-diff;
StartupNotify=true
Keywords=Text;Editor;
Keywords[ca]=Text;Editor;
Keywords[de]=Text;Editor;
Keywords[el]=Κείμενο.Επεξεργαστής.
Keywords[es]=Texto;Editor;
Keywords[fr]=Texte;Éditeur;
Keywords[id]=Text;Editor
Keywords[it]=Testo;Editor;
Keywords[ja]=Text;Editor;
Keywords[kk]=Мәтін;Түзеткіш;
Keywords[lt]=Teksto;Redaktorius;
Keywords[nl]=Tekst;Editor;
Keywords[pt]=Texto;Editor;
Keywords[ru]=Текст;Редактор;
Keywords[sk]=Text;Editor;
Keywords[sv]=Text;Editor;
Keywords[tr]=Metin;Düzenleyici;
Keywords[zh_CN]=文本;编辑器;
